In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../Data/Kp-since-1932.csv', engine='pyarrow')

In [ ]:
# Keep only entries which are 'YYYY' = 2023
df = df[df['YYYY'] == 2023]

In [ ]:
df

In [ ]:
df.to_csv('../Data/Kp-2023.csv', index=False)

In [ ]:
ref = {
    '00:00' : 'Kp1',
    '03:00' : 'Kp2',
    '06:00' : 'Kp3',
    '09:00' : 'Kp4',
    '12:00' : 'Kp5',
    '15:00' : 'Kp6',
    '18:00' : 'Kp7',
    '21:00' : 'Kp8',
}

In [62]:
plasma = pd.read_csv('../Data/f_plasma.csv', engine='pyarrow')
kp = pd.read_csv('../Data/Kp-2023.csv', engine='pyarrow')

In [63]:
plasma

,Time,Bx,By,Bz,a,b,c,d,e,f,...,ao,ap,aq,ar,as,at,au,av,aw,ax
0,2023-01-01 00:00:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.607500,0.231726,...,370.588,322.576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-01 03:00:00,-3.50988,3.28923,0.955087,13.476300,0.231726,0.231726,1.191370,3.023420,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-01 06:00:00,-4.19601,1.13274,-2.28889,1.704520,0.231726,0.231726,0.678223,0.231726,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-01 09:00:00,-3.82492,2.54654,-1.1996,15.709700,0.231726,0.231726,0.585838,1.713000,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-01 12:00:00,-4.00157,1.30163,2.07415,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2023-05-02 09:00:00,4.44582,0.0744136,-1.34245,1.404280,0.231726,0.761706,0.231726,0.231726,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
972,2023-05-02 12:00:00,4.05329,-0.60975,2.69305,1.196930,0.231726,0.429790,0.231726,0.231726,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,2023-05-02 15:00:00,3.60467,2.52151,1.76777,1.237600,0.231726,0.369987,0.231726,0.231726,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
974,2023-05-02 18:00:00,4.78423,0.161718,-1.60693,0.231726,0.231726,0.582688,5.535300,8.985620,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
975,2023-05-02 21:00:00,3.91836,2.64597,-1.86443,4.076740,0.231726,6.405650,0.557139,5.085630,0.422132,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
kp

,Date,days,days_m,Bsr,dB,Kp1,Kp2,Kp3,Kp4,Kp5,...,ap4,ap5,ap6,ap7,ap8,Ap,SN,F10.7obs,F10.7adj,D
0,01-01-2023,33238,33238.5,2583,11,2.333,3.000,2.000,2.667,1.667,...,12,6,12,22,27,14,108,152.6,147.5,2
1,02-01-2023,33239,33239.5,2583,12,2.000,2.000,1.000,1.667,1.333,...,6,5,5,7,15,7,109,146.4,141.5,2
2,03-01-2023,33240,33240.5,2583,13,1.333,0.333,0.667,0.333,1.000,...,2,4,7,9,12,6,108,148.5,143.6,2
3,04-01-2023,33241,33241.5,2583,14,4.000,4.667,4.333,3.333,3.333,...,18,18,7,6,3,19,96,151.0,146.0,2
4,05-01-2023,33242,33242.5,2583,15,0.333,0.667,1.000,1.333,2.667,...,5,12,15,12,12,8,112,154.3,149.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,02-10-2023,33512,33512.5,2593,15,3.000,3.333,1.000,1.333,1.667,...,5,6,5,5,9,8,173,157.4,157.7,0
275,03-10-2023,33513,33513.5,2593,16,1.000,2.333,1.333,1.000,2.000,...,4,7,7,7,7,6,148,153.7,153.8,0
276,04-10-2023,33514,33514.5,2593,17,3.000,2.333,2.333,2.000,1.667,...,7,6,5,7,22,10,159,155.0,155.1,0
277,05-10-2023,33515,33515.5,2593,18,4.333,5.000,2.333,3.000,1.667,...,15,6,3,3,9,16,169,156.1,156.1,0
278,06-10-2023,33516,33516.5,2593,19,2.000,2.333,2.000,1.333,1.000,...,5,4,5,3,15,7,152,155.3,155.3,0

In [67]:
plasma['Hour'] = plasma['Time'].dt.strftime('%H:%M:%S')
plasma['Date'] = plasma['Time'].dt.strftime('%d-%m-%Y')
plasma

,Time,Bx,By,Bz,a,b,c,d,e,f,...,aq,ar,as,at,au,av,aw,ax,Hour,Date
0,2023-01-01 00:00:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.607500,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,01-01-2023
1,2023-01-01 03:00:00,-3.50988,3.28923,0.955087,13.476300,0.231726,0.231726,1.191370,3.023420,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03:00:00,01-01-2023
2,2023-01-01 06:00:00,-4.19601,1.13274,-2.28889,1.704520,0.231726,0.231726,0.678223,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06:00:00,01-01-2023
3,2023-01-01 09:00:00,-3.82492,2.54654,-1.1996,15.709700,0.231726,0.231726,0.585838,1.713000,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,09:00:00,01-01-2023
4,2023-01-01 12:00:00,-4.00157,1.30163,2.07415,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12:00:00,01-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2023-05-02 09:00:00,4.44582,0.0744136,-1.34245,1.404280,0.231726,0.761706,0.231726,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,09:00:00,02-05-2023
972,2023-05-02 12:00:00,4.05329,-0.60975,2.69305,1.196930,0.231726,0.429790,0.231726,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12:00:00,02-05-2023
973,2023-05-02 15:00:00,3.60467,2.52151,1.76777,1.237600,0.231726,0.369987,0.231726,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15:00:00,02-05-2023
974,2023-05-02 18:00:00,4.78423,0.161718,-1.60693,0.231726,0.231726,0.582688,5.535300,8.985620,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18:00:00,02-05-2023
975,2023-05-02 21:00:00,3.91836,2.64597,-1.86443,4.076740,0.231726,6.405650,0.557139,5.085630,0.422132,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21:00:00,02-05-2023

In [68]:
plasma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    976 non-null    datetime64[s]
 1   Bx      976 non-null    object
 2   By      976 non-null    object
 3   Bz      976 non-null    object
 4   a       976 non-null    float64
 5   b       976 non-null    float64
 6   c       976 non-null    float64
 7   d       976 non-null    float64
 8   e       976 non-null    float64
 9   f       976 non-null    float64
 10  g       976 non-null    float64
 11  h       976 non-null    float64
 12  i       976 non-null    float64
 13  j       976 non-null    float64
 14  k       976 non-null    float64
 15  l       976 non-null    float64
 16  m       976 non-null    float64
 17  n       976 non-null    float64
 18  o       976 non-null    float64
 19  p       976 non-null    float64
 20  q       976 non-null    float64
 21  r       976 non-null    float64
 22  s       976 non-null    float64
 23  t       976 non-null    float64
 24  u       976 non-null    float64
 25  v       976 non-null    float64
 26  w       976 non-null    float64
 27  x       976 non-null    float64
 28  y       976 non-null    float64
 29  z       976 non-null    float64
 30  aa      976 non-null    float64
 31  ab      976 non-null    float64
 32  ac      976 non-null    float64
 33  ad      976 non-null    float64
 34  ae      976 non-null    float64
 35  af      976 non-null    float64
 36  ag      976 non-null    float64
 37  ah      976 non-null    float64
 38  ai      976 non-null    float64
 39  aj      976 non-null    float64
 40  ak      976 non-null    float64
 41  al      976 non-null    float64
 42  am      976 non-null    float64
 43  an      976 non-null    float64
 44  ao      976 non-null    float64
 45  ap      976 non-null    float64
 46  aq      976 non-null    float64
 47  ar      976 non-null    float64
 48  as      976 non-null    float64
 49  at      976 non-null    float64
 50  au      976 non-null    float64
 51  av      976 non-null    float64
 52  aw      976 non-null    float64
 53  ax      976 non-null    float64
 54  Hour    976 non-null    object
 55  Date    976 non-null    object
dtypes: datetime64[s](1), float64(50), object(5)
memory usage: 427.1+ KB

In [69]:
# Iterate through Kp rows
for index, row in kp.iterrows():
    # Iterate through plasma rows
    for i, r in plasma.iterrows():
        # If the date and time match, add the Kp value to the plasma dataframe
        if row['Date'] == r['Date']:
            if r['Hour'] == '00:00:00':
                plasma.loc[i, 'Kp'] = row['Kp1']
            elif r['Hour'] == '03:00:00':
                plasma.loc[i, 'Kp'] = row['Kp2']
            elif r['Hour'] == '06:00:00':
                plasma.loc[i, 'Kp'] = row['Kp3']
            elif r['Hour'] == '09:00:00':
                plasma.loc[i, 'Kp'] = row['Kp4']
            elif r['Hour'] == '12:00:00':
                plasma.loc[i, 'Kp'] = row['Kp5']
            elif r['Hour'] == '15:00:00':
                plasma.loc[i, 'Kp'] = row['Kp6']
            elif r['Hour'] == '18:00:00':
                plasma.loc[i, 'Kp'] = row['Kp7']
            elif r['Hour'] == '21:00:00':
                plasma.loc[i, 'Kp'] = row['Kp8']

In [71]:
plasma

,Time,Bx,By,Bz,a,b,c,d,e,f,...,ar,as,at,au,av,aw,ax,Hour,Date,Kp
0,2023-01-01 00:00:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.607500,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:00,01-01-2023,2.333
1,2023-01-01 03:00:00,-3.50988,3.28923,0.955087,13.476300,0.231726,0.231726,1.191370,3.023420,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03:00:00,01-01-2023,3.000
2,2023-01-01 06:00:00,-4.19601,1.13274,-2.28889,1.704520,0.231726,0.231726,0.678223,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,06:00:00,01-01-2023,2.000
3,2023-01-01 09:00:00,-3.82492,2.54654,-1.1996,15.709700,0.231726,0.231726,0.585838,1.713000,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,09:00:00,01-01-2023,2.667
4,2023-01-01 12:00:00,-4.00157,1.30163,2.07415,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12:00:00,01-01-2023,1.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2023-05-02 09:00:00,4.44582,0.0744136,-1.34245,1.404280,0.231726,0.761706,0.231726,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,09:00:00,02-05-2023,2.667
972,2023-05-02 12:00:00,4.05329,-0.60975,2.69305,1.196930,0.231726,0.429790,0.231726,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12:00:00,02-05-2023,1.000
973,2023-05-02 15:00:00,3.60467,2.52151,1.76777,1.237600,0.231726,0.369987,0.231726,0.231726,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15:00:00,02-05-2023,1.000
974,2023-05-02 18:00:00,4.78423,0.161718,-1.60693,0.231726,0.231726,0.582688,5.535300,8.985620,0.231726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18:00:00,02-05-2023,1.667
975,2023-05-02 21:00:00,3.91836,2.64597,-1.86443,4.076740,0.231726,6.405650,0.557139,5.085630,0.422132,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21:00:00,02-05-2023,0.667

In [72]:
plasma.drop('Hour', axis=1, inplace=True)
plasma.drop('Date', axis=1, inplace=True)

In [73]:
plasma

,Time,Bx,By,Bz,a,b,c,d,e,f,...,ap,aq,ar,as,at,au,av,aw,ax,Kp
0,2023-01-01 00:00:00,-2.70274,4.51236,-1.45806,43.044500,0.231726,0.231726,0.818269,22.607500,0.231726,...,322.576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.333
1,2023-01-01 03:00:00,-3.50988,3.28923,0.955087,13.476300,0.231726,0.231726,1.191370,3.023420,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000
2,2023-01-01 06:00:00,-4.19601,1.13274,-2.28889,1.704520,0.231726,0.231726,0.678223,0.231726,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000
3,2023-01-01 09:00:00,-3.82492,2.54654,-1.1996,15.709700,0.231726,0.231726,0.585838,1.713000,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.667
4,2023-01-01 12:00:00,-4.00157,1.30163,2.07415,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,2023-05-02 09:00:00,4.44582,0.0744136,-1.34245,1.404280,0.231726,0.761706,0.231726,0.231726,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.667
972,2023-05-02 12:00:00,4.05329,-0.60975,2.69305,1.196930,0.231726,0.429790,0.231726,0.231726,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000
973,2023-05-02 15:00:00,3.60467,2.52151,1.76777,1.237600,0.231726,0.369987,0.231726,0.231726,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000
974,2023-05-02 18:00:00,4.78423,0.161718,-1.60693,0.231726,0.231726,0.582688,5.535300,8.985620,0.231726,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.667
975,2023-05-02 21:00:00,3.91836,2.64597,-1.86443,4.076740,0.231726,6.405650,0.557139,5.085630,0.422132,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.667

In [74]:
plasma.to_csv('../Data/Merged_Kp.csv', index=False)