In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("../Data/Kp-since-1932.csv", engine="pyarrow")

In [3]:
df1 = df1[df1['YYYY']==2023]

In [4]:
df1

,YYYY,MM,DD,Date,days,days_m,Bsr,dB,Kp1,Kp2,...,ap4,ap5,ap6,ap7,ap8,Ap,SN,F10.7obs,F10.7adj,D
33238,2023,1,1,2023-1-1,33238,33238.5,2583,11,2.333,3.000,...,12,6,12,22,27,14,108,152.6,147.5,2
33239,2023,1,2,2023-1-2,33239,33239.5,2583,12,2.000,2.000,...,6,5,5,7,15,7,109,146.4,141.5,2
33240,2023,1,3,2023-1-3,33240,33240.5,2583,13,1.333,0.333,...,2,4,7,9,12,6,108,148.5,143.6,2
33241,2023,1,4,2023-1-4,33241,33241.5,2583,14,4.000,4.667,...,18,18,7,6,3,19,96,151.0,146.0,2
33242,2023,1,5,2023-1-5,33242,33242.5,2583,15,0.333,0.667,...,5,12,15,12,12,8,112,154.3,149.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33512,2023,10,2,2023-10-2,33512,33512.5,2593,15,3.000,3.333,...,5,6,5,5,9,8,173,157.4,157.7,0
33513,2023,10,3,2023-10-3,33513,33513.5,2593,16,1.000,2.333,...,4,7,7,7,7,6,148,153.7,153.8,0
33514,2023,10,4,2023-10-4,33514,33514.5,2593,17,3.000,2.333,...,7,6,5,7,22,10,159,155.0,155.1,0
33515,2023,10,5,2023-10-5,33515,33515.5,2593,18,4.333,5.000,...,15,6,3,3,9,16,169,156.1,156.1,0
33516,2023,10,6,2023-10-6,33516,33516.5,2593,19,2.000,2.333,...,5,4,5,3,15,7,152,155.3,155.3,0

In [12]:
df2 = pd.read_csv('../Data/dsc_fc_summed_spectra_2023_v01.csv')

In [5]:
df1.to_csv("../Data/Kp-since-2023.csv")

In [13]:
df2

,Unnamed: 0,Date,Time,Bx,By,Bz,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,2023-01-01 00:00:00,2023-1-1,00:00:00,-2.70274,4.51236,-1.458060,43.044500,0.231726,0.231726,0.818269,...,370.588,322.576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-01 00:01:00,2023-1-1,00:01:00,-2.82748,4.69308,-0.949090,23.756600,0.231726,0.315117,1.063280,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-01 00:02:00,2023-1-1,00:02:00,-1.87608,4.48063,-2.588770,61.344500,0.231726,0.231726,11.327000,...,330.078,242.390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-01 00:03:00,2023-1-1,00:03:00,-2.71541,4.74902,-0.324706,23.489500,0.231726,0.460690,3.708190,...,391.771,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-01 00:04:00,2023-1-1,00:04:00,-2.93342,4.77895,-0.047584,26.517100,0.231726,0.231726,0.231726,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175675,2023-05-02 23:55:00,2023-5-2,23:55:00,4.33665,2.80127,0.954633,1.004790,0.231726,4.647570,0.626576,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175676,2023-05-02 23:56:00,2023-5-2,23:56:00,4.66778,2.10582,1.260660,0.781621,0.231726,5.972220,0.360648,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175677,2023-05-02 23:57:00,2023-5-2,23:57:00,4.28322,3.02154,0.927773,0.854185,0.231726,8.104540,2.025800,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175678,2023-05-02 23:58:00,2023-5-2,23:58:00,4.31376,2.67727,1.723270,0.801559,0.231726,12.762100,2.818550,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175679,2023-05-02 23:59:00,2023-5-2,23:59:00,4.51542,2.30317,1.832570,2.265740,0.231726,11.687000,1.892900,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
import pandas as pd

common_times = df1[df1['Date'].isin(df2['Date'])]['Date']

len(common_times)

122

In [15]:
df1['Date'].isin(df2['Date']).value_counts()

Date
False    157
True     122
Name: count, dtype: int64

In [18]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('../Data/dsc_fc_summed_spectra_2023_v01.csv')

# List of time values you want to filter
time_list = ['00:00:00', '03:00:00', '06:00:00', '09:00:00', '12:00:00', '15:00:00', '18:00:00', '21:00:00']

# Convert the "Time" column to datetime
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S')

# Filter rows where the "Time" column matches any value in the list
filtered_df = df[df['Time'].dt.strftime('%H:%M:%S').isin(time_list)]

# Save the filtered DataFrame to a new CSV file or perform further operations
filtered_df.to_csv('../Data/3hr-values.csv', index=False)